.markdown-post {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.blog-post-subsection {
  padding-bottom: 1rem;
}
.blog-post-code-block {
  padding-bottom: 1rem;
}
.blog-post-paragraph {
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
