.markdown-post {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

h2 {
  padding-top: 1rem;
}

body {
  background-color: #1a1a1a;
  color: #cfcfcf;
  font-family: "Oxygen", monospace;
}
