@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(160, 159, 159, 0.1);
  border-radius: 1em;
}
.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.02);
  transition: 0.2s all ease-out;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(229, 229, 229);
  font-family: "Oxygen Mono", monospace;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
