.blog-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.blog-post-title {
  margin-bottom: 0.5em;
  color: #f1f1f1;
  font-size: 1.5em;
}

.blog-post-meta {
  margin-bottom: 1em;
  color: #888;
  font-size: 0.85em;
}

.blog-post-meta .blog-post-author {
  margin-right: 0.5em;
}

.blog-post-meta .blog-post-date {
  font-style: italic;
}

.blog-post-content {
  border-top: 1px solid #fffafa;
  padding: 1rem;
  line-height: 1.5;
}
