html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: rgb(28, 28, 28);
}
.nav-bar-container {
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgb(28, 28, 28);
  box-shadow: 5px 5px 5px rgb(21, 21, 21);
  z-index: 1000;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
}

.item {
  font-family: "Oxygen Mono", monospace;
  font-size: 120%;
  /* transition: transform 250ms; */
  padding: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.nav-link::before {
  background-color: #f5fcff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav div:first-child {
  flex-basis: 100%;
  text-align: left;
  padding-left: 1rem;
}
.kadery-dev {
  font-family: "Oxygen Mono", monospace;
  color: rgb(255, 255, 255);
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(160, 159, 159, 0.1);
  border-radius: 1em;
}
.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.02);
  transition: 0.2s all ease-out;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(229, 229, 229);
  font-family: "Oxygen Mono", monospace;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.blog-post {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}
.banner-image {
  padding-top: 1rem;
}
.banner-page-break {
  border-top: 2px solid;
  margin: 10px 0;
  color: rgb(197, 194, 194);
}

.inline-code {
  background-color: #45454517;
  padding: 2px 4px;
  border: 1px solid #4f4f4f;
  /* border-radius: 4px; */
  /* font-family: "Courier New", monospace; */
  color: aliceblue;
  font-weight: bold;
}
ol {
  margin-left: 3rem;
}
h2 {
  padding-top: 1rem;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  font-family: "Oxygen", monospace;
}
